**secret**
**private**
.remote*
.vs
/config.json
/api.json
/config.yaml
/openapi.json
/openapi.yaml
**node_modules**
**data*.json
*[a-zA-Z][0-9].*

__**
**Copy**
**kopie**

**.mp4
**.log
**.pdf
**.zip


**.jpg
**.gif
**.doc
**.docx

*test*

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/js/min
/api/sql
/app
/inc
/sites
/wav
/aim
/docs
/aim-connect
/aim-api
/test
/dev
/tmp
/admin
/google**
/**htaccess**

/nav
