<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/tata-nl/tata-nl.github.io/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
